In [9]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [10]:
df = pd.read_csv(Path('./Resources/ibtracs.since1980.list.v04r00.csv'))
df.head()

C:\Users\jbate\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (1,2,8,9,20,21) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SID,SEASON,NUMBER,BASIN,SUBBASIN,NAME,ISO_TIME,NATURE,LAT,LON,...,WMO_AGENCY,DS824_STAGE,DS824_WIND,DS824_PRES,TD9636_LAT,TD9636_LON,TD9636_STAGE,TD9636_WIND,STORM_SPEED,STORM_DIR
0,,Year,,,,,,,degrees_north,degrees_east,...,,,kts,mb,degrees_north,degrees_east,,kts,kts,degrees
1,1980001S13173,1980,1,SP,MM,PENI,1/1/1980 0:00,TS,-12.5,172.5,...,,TC,25,,-12.5,172.5,1,25,6,351
2,1980001S13173,1980,1,SP,MM,PENI,1/1/1980 3:00,TS,-12.1927,172.441,...,,TC,25,,-12.2234,172.469,1,,6,351
3,1980001S13173,1980,1,SP,MM,PENI,1/1/1980 6:00,TS,-11.9144,172.412,...,,TC,25,,-11.9575,172.45,1,,5,358
4,1980001S13173,1980,1,SP,MM,PENI,1/1/1980 9:00,TS,-11.6863,172.435,...,,TC,25,,-11.7128,172.456,1,,4,12

In [12]:
#Drop unnamed storms
indexnames = df[df['NAME'] == 'NOT_NAMED'].index
df.drop(indexnames , inplace=True)
df.head()

,SID,SEASON,NUMBER,BASIN,SUBBASIN,NAME,ISO_TIME,NATURE,LAT,LON,...,WMO_AGENCY,DS824_STAGE,DS824_WIND,DS824_PRES,TD9636_LAT,TD9636_LON,TD9636_STAGE,TD9636_WIND,STORM_SPEED,STORM_DIR
0,,Year,,,,,,,degrees_north,degrees_east,...,,,kts,mb,degrees_north,degrees_east,,kts,kts,degrees
1,1980001S13173,1980,1,SP,MM,PENI,1/1/1980 0:00,TS,-12.5,172.5,...,,TC,25,,-12.5,172.5,1,25,6,351
2,1980001S13173,1980,1,SP,MM,PENI,1/1/1980 3:00,TS,-12.1927,172.441,...,,TC,25,,-12.2234,172.469,1,,6,351
3,1980001S13173,1980,1,SP,MM,PENI,1/1/1980 6:00,TS,-11.9144,172.412,...,,TC,25,,-11.9575,172.45,1,,5,358
4,1980001S13173,1980,1,SP,MM,PENI,1/1/1980 9:00,TS,-11.6863,172.435,...,,TC,25,,-11.7128,172.456,1,,4,12